/* src/components/Item/Item.css */
.card-producto {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  background-color: white;
  width: 200px;
}
.card-producto img {
  border-radius: 4px;
}

.btn-detalle { background: bisque; padding: 5px 10px; text-decoration: none; color: black; border: 1px solid brown; border-radius: 4px; display: inline-block; margin-top: 10px; }